<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线考试系统</title>
      <script type="text/javascript">

    $(function () {
      bindSelect();
    });
    //将数据集绑定select，校重新选择专业后
    bindSelect = function () {
        function select(data1,$Select) {
           var students = data1.innerText.split("|");
      if (students.length > 0) {
        for (var i = 0; i < students.length-1; i++) {
            var item = students[i];
            var c = i+1;
            if (c === 2) {
             $Select.append('<option value=" '+ item + '" selected>' + item + '</option>');
            } else {
              $Select.append('<option value="' + item + '">' + item + '</option>');
          }
        }
      }
      }
      var $teacherselect1 = $('#teacherselect1');
      var data2 = document.getElementById("demo1");
      select(data2,$teacherselect1);

    }

  </script>
     <div id="main" style="width: 800px;height:500px;"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));


        // 指定图表的配置项和数据
        var option = {
    legend: {},
    tooltip: {},
    dataset: {
        // 提供一份数据。
        source: [
            ['product', '软件工程', '数据库原理'],
            ['<60', {{ data_1.data1 }}, {{ data_2.data6 }}],
            ['60<=成绩<70', {{ data_1.data2 }}, {{ data_2.data7 }}],
            ['70<=成绩<80', {{ data_1.data3 }}, {{ data_2.data8 }}],
            ['80<=成绩<90', {{ data_1.data4 }}, {{ data_2.data9 }}],
            ['90<=成绩', {{ data_1.data5 }}, {{ data_2.data10 }}]

        ]
    },
    // 声明一个 X 轴，类目轴（category）。默认情况下，类目轴对应到 dataset 第一列。
    xAxis: {type: 'category'},
    // 声明一个 Y 轴，数值轴。
    yAxis: {},
    // 声明多个 bar 系列，默认情况下，每个系列会自动对应到 dataset 的每一列。
    series: [
        {type: 'bar'},
        {type: 'bar'}
    ]
};
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    </script>
</head>
<body>

</body>
</html>